
.nth1 {
    background-color: gray;
    color: #FFF;
}
.nth2 {
    background-color: white;
    color: #000;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
table,th,td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 22px;
}
a{
    font-style: italic;
}
h2 {
    text-align: center;
}