/* Common styles */
.section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
  }
  
.section a {
  display: block;
  margin-top: 10px;
}

/* Desktop Layout */
@media (min-width: 1024px) {
  .main,
  .basic-info,
  .childhood {
    width: 30%;
  }

 .school-years,
 .extracurricular,
 .university {
   width: 30%;
}
  /* Adjust widths and styles for other sections */
}

/* Tablet Layout */
@media (max-width: 1023px) and (min-width: 769px) {
  .main,
  .basic-info,
  .childhood,
  .school-years,
  .extracurricular,
  .university {
    width: 45%;
  }
  /* Adjust widths for other sections */
}

/* Mobile Layout */
@media (max-width: 768px) {
  .section {
      width: 100%;
    }
  }
  